/*set background images*/
.img{
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    margin: 0 0 50px 15px;
}

/*pair pictures and links on the right with their partners on the left*/
#pic1, #pic3, #pic5{
    float: left;
}

/*see comment above*/
#pic2, #pic4{
    float: right;
    margin-right: 285px;
}

/*indicate paths to the respective image files*/

#pic1{
    background-image: url("../images/cat1.jpeg");
}

#pic2{
    background-image: url("../images/cat2.jpeg");
}

#pic3{
    background-image: url("../images/cat3.jpeg");
}

#pic4{
    background-image: url("../images/cat4.jpeg");
}

#pic5{
    background-image: url("../images/cat5.jpeg");
}

/*set up color and dimensions of miniature navbars and overlay them onto their background images*/
.bottomnav{
    text-align: center;
    background-color: #4aaaa5;
    width: 195px;
    height: 55px;
    padding: 15px;
    margin: 15% 0 0 -97px;
    position: absolute;
    bottom: 10px;
}

/*display default link text as plain text and set default link text color*/
a{
    text-decoration: none;
    color: #ffffff;
}